@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

*, *::before, *::after {
  box-sizing: border-box; /* This line ensures padding is included in the dimensions */
}
html {
  /* Firefox - Hides track and changes thumb color */
  scrollbar-color: hsla(0, 0%, 46%, 0.5) transparent;
}

/* Chrome - Hides track and width/height set for vertical/horizontal scrollbars */
::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
}

/* Chrome - Changes thumb color and rounds scrollbar edges, in Chrome any 
scrollbar changes disables default styling and rounding so corners appear squared */
::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 46%, 0.5);
  border-radius: 8px;
}

.main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #FAF3EA;
}

.component-content {
  height: 80%;
  display: flex; /* Set .component-content as a flex container */
  flex-direction: column; /* Make it stack children vertically */
}

.main{
  height: 100%;
  display: flex;              /* Enables flexbox layout */
  justify-content: center;   /* Horizontally centers the content */
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.video iframe{
  width: 70%;
  height: 90%;
}

.lora{
  font-family: 'Lora', serif;
}

@media screen and (max-width: 768px) {
  .main-container{
    height: 100dvh;
  }

  .video iframe{
    width: 90%;
    height: 60%;
  }
}

